<html>

<head>

    <title>Warframe Info</title>
    <link rel='stylesheet' href='css/bootstrap.css' />
    <link rel='stylesheet' href='css/main.css' />

</head>

<body>

    <div class="d-flex flex-nowrap">

        <div class="d-flex flex-column bg-dark text-light p-3 sidebar">

            <span class="fs-3">WarframeInfo</span>
            <hr>

            <ul class="nav nav-pills flex-column">

                <li class="nav-item">

                    <a class="nav-link text-light" href="/">Home</a>

                </li>

                <li>

                    <a class="nav-link active" href="/market">Market</a>

                </li>

            </ul>

        </div>

        <div class="d-flex flex-column w-100">

            <div class="fs-1 m-2">Market:</div>
            <hr>

            <div class="d-flex m-2">

                <form method="post" action="/search">

                    <input class="p-2" type="text" name="search" size="50" /><br>
                    <input type="radio" name="market_type" value="sell" id="sell" />
                    <label for="sell">Sellers</label>
                    <input type="radio" name="market_type" value="buy" id="buy" />
                    <label for="buy">Buyers</label>
                    <br><br>
                    <input class="btn btn-success" type="submit" value="Search" />

                </form>

            </div>

            <div class="fs-1 m-2">Results:</div>
            <hr>

            <div class="d-flex flex-column flex-wrap m-2">

                <% search_results.forEach(function(order) { %>

                    <div class="d-flex flex-column p-2 m-2 bg-dark text-light rounded rounded-4">

                        <div class="d-flex">

                            <div class="fs-3 p-2 flex-grow-1">

                                <%= order['order_type'] %>

                            </div>

                            <div class="d-flex flex-column p-2">

                                <div class="d-flex flex-column">

                                    <%= order['item_name'] %>:<br>

                                </div>

                                <div class="d-flex flex-column">

                                    <%= order['user']['ingame_name'] %> (<%= order['platinum'] %>p)

                                </div>

                            </div>

                        </div>

                    </div>

                    <% }) %>

            </div>

        </div>

    </div>

    <script src='js/bootstrap.js'></script>

</body>

</html>