<html>

<head>

    <title>Warframe Info</title>
    <link rel='stylesheet' href='css/bootstrap.css' />

</head>

<body>

    <h1>Hello World</h1>
    <span><%= warframe_api_data[0]['cetusCycle']['timeLeft'] %></span>
    <script src='js/bootstrap.js'></script>

</body>

</html>